body {
    background-color: #000;
    font-family: var(--main-font);
}

/*==========
Menu lateral
============ */

.sidebar__container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    padding: 1.2rem;

    width: 30rem;

    background-color: #000;
}

.sidebar__navigation {
    background-color: var(--bg-containers);
    border-radius: .8rem;
    padding: 1.6rem 0 0 1.6rem;

    
}

.logo {
    display: flex;
    border-radius: .8rem;
    padding: 1.6rem 0 0 2rem;
}

.logo img {
    width: 8rem;
}

.sidebar__container nav ul {
    margin-top: 2rem;
    padding: 0 2rem 1rem 2rem;

}

.sidebar__container nav li {
    padding: 1rem 0;
}

.sidebar__container nav ul li a{
    color: #b3b3b3;

    font-weight: 600;
    font-size: 1.4rem;
}

.library {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 43rem;

    padding: 3.4rem .8rem;

    color: #b3b3b3;
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: 1rem;

    background-color: #121212;
    border-radius: .8rem;
}

.library .library__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.library .library__button {
    display: flex;

    margin-right: 1rem;
    
    background-color: transparent;
    border: 0;

    color: #b3b3b3;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 2rem 1rem;

    cursor: pointer;
}

.library .library__content .fa {
    margin-right: 1rem;
    padding-right: .8rem;
    
    font-size: 2rem;
    font-weight: 300;
}

.library .library__content .fa-plus {
    font-size: 1.7rem;
}

.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    
    background-color: #242424;
    border-radius: 1rem;

    color: #b3b3b3;
    font-weight: 600;
    font-size: 1.4rem;
    margin: .8rem 0;
    padding: 1.6rem 2rem;
}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text {
    padding-bottom: 1.4rem;
    color: #fff;
}

.section-playlist__content .title {
    font-weight: 700;
}

.section-playlist__content .subtitle {
    font-weight: 500;
    font-size: 1.2rem;
}

.section-playlist__content .section-playlist_button {
    display: flex;
    justify-content: center;

    width: 11.3rem;

    background-color: #fff;
    color: #000;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: none;

    padding: 1rem;
    margin-top: 1.2rem;

    cursor: pointer;
}

.cookies {
    margin: 2.5rem 2rem;
}

.cookies a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 1rem;
    transition: all .3s ease-in;
}

.cookies a:hover {
    text-decoration: underline;
}

.languages .languages__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    width: 17rem;
    margin: .8rem;
    padding: .8rem;

    background-color: transparent;
    border: 1px solid #878787;
    border-radius: 2rem;

    color: #fff;
    font-weight: bold;
    cursor: pointer;

}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 1.5rem 3rem;

    color: #fff;


    background: linear-gradient(to right, #ae2896, #509bf5);
}

.footer__container .informacoes {
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.footer__container .footer-title {
    font-size: 1.7rem;
    text-transform: uppercase;
}

.footer__container .footer-text {
    font-size: 1.7rem;
}

.footer__container .btn-footer {
    padding: 1.5rem 0;
    width: 18rem;

    border-radius: 3rem;

    color: #000;
    font-size: 1.5rem;
    font-weight: 700;

    cursor: pointer;
}

